.navbar {
  background-color: #4A90E2;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a img {
  margin-left: 4.2rem;
  height: 2.3rem;
  width: 12.2rem;
}

.profile a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 6.5rem;
  padding: 10px;
}

.profile a:hover {
  background-color: rgb(95, 163, 241)
}
